{% load static %}
 <!--Main Footer-->
 <footer class="main-footer">
    <div class="auto-container">
      <!--Widgets Section-->
      <div class="widgets-section">
        <div class="row clearfix">
          <!--Column-->
          <div class="big-column col-lg-6 col-md-12 col-sm-12">
            <div class="row clearfix">
              <!--Footer Column-->
              <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                <div class="footer-widget logo-widget">
                  <div class="logo">
                    <a href="/"
                      ><img
                        src="{% static 'images/logo-small.png' %}"
                        alt=""
                    /></a>
                  </div>
                  <div class="text">
                  </div>
                  <ul class="list-style-two">
                    
                    <li>
                      <span class="icon fa fa-envelope"></span>
                      info@eaglemezzaninecapital.com
                    </li>
                    <li>
                    
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>