{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="main-slider">
		<div class="slider-outer">
			<div class="main-slider-carousel owl-carousel owl-theme">
				<div class="slide style-two" style="background-image:url('{% static 'images/main-slider/4.png' %}')">
					<div class="auto-container">
						<div class="content">
							<h1 class="alternate">Eagle Mezzanine <br> Capital</span></h1>
							<div class="text alternate">Eagle Mezzanine Capital Is The Premier Hybrid Invoice Factoring Lender In The World.</div>
							<div class="link-box">
								<a href="/dashboard" class="theme-btn btn-style-six">Let’s start now</a> <a href="/case_studies" class="theme-btn btn-style-seven">View portfolio</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Slide Info Boxed-->
			<div class="business-image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
				<img src="{% static 'images/main-slider/content-image.png' %}" alt=""/>
			</div>
		</div>
    </section>
    <!--End Main Slider-->
	<!-- About Section Three -->
	{% comment %} <section class="about-section-three">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<h2>About Eagle Mezzanine Capital</h2>
						</div>
						<div class="text">Banks are not always the timely or flexible option for you. Sometimes your credit score just isn’t good enough to receive a loan with promising returns, or you don’t have collateral for bank loans. Whatever the reason is, Eagle Mezzanine capital creates a solution that’s tailored to your business.

							Eagle mezzanine capital thrives on helping you acquire capital in order to cover cashflow demand within your business. Whether it is an opportunity for development or a sudden need for investment, we are your solution. We aim to find the best financial products to help your company. It is our goal to aid business owners to capitalize on opportunities when they are offered at your businesses doorstep.
							
							 By building a relationship with us, you can get access to the cheapest, most practical funding. We are ready to plan for a future together in which we seek out how to perform all of your company’s goals. If you succeed, we succeed; and if you thrive, we thrive, and this is why WE at Eagle Mezzanine Capital work for YOU!
							
							
						</div>
						<a href="#" class="theme-btn btn-style-eight">Apply Now</a>
					</div>
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="image">
						<img src="images/resource/about-1.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section> {% endcomment %}
{% endblock content  %}