{% extends "base.html" %}
{% load static %}

{% block content %}
	<!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/8.jpg' %})">
    	<div class="auto-container">
			<div class="content">
				<h1>Services <span>We Provide</span></h1>
			</div>
        </div>
    </section>
    <!--End Page Title-->

	<!-- Services Section Ten -->
	<section class="services-section-ten style-two">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Services</div>
				<h2>
				
				</ul></h2>
			</div>
			<div class="row clearfix">

				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-earnings"></span>
						</div>
						<h6><a href="#">Cash Line Of Credit</a></h6>
						<div class="text">Every small business in the U.S should have the ability to access capital at its fingertips. Our Cash Line of Credit Program makes this desire a reality. With our cash line of credit, you gain access to capital that enables you to draw funds as the need arises. You can use this capital to
							
						Secure wonderful growth opportunities,
						Enhance Inventory or Discounted Bulk Inventory Purchases,
						Financially support operating expenses like supplies and payroll,
						Payoff High-Interest Credit Cards or Cash Advance Loans,
						Renovation or Expansion,
						Emergency Funds for Accidental Situations,
						Asset acquisitions,
						Even out Cash Flow for Seasonal Businesses</div>
					</div>
				</div>

				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-budget-1"></span>
						</div>
						<h6><a href="#">Line Of Credit for Invoice Factoring</h6>
						<div class="text">Invoice factoring is a substitute for conventional financing that raises cash next to the value of your open invoices in substitution for the right to collect against them. You can be accepted in as little as 3-5 business days with minimal paperwork, even if you are a startup or have a bad/low credit and collections history. To make it fast for you to get capital, we are offering you a Line Of Credit for Invoice Factoring.</div>
					</div>
				</div>

				<!-- Services Block Fourteen -->
				<div class="services-block-fourteen style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-target"></span>
						</div>
						<h6><a href="#">What are the requirements and interest rates to apply for a credit line?</a></h6>
						<div class="text">We will use data from 3 bureaus to get access to your credit history, and these bureaus are Vukode, Ziteso, and Sendesta. After evaluating your credit history, we will make a decision for your loan application. Interest rates will be decided according to your credit score. 

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Services Section Ten -->
{% endblock content %}